<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 4</title>
    <link rel="stylesheet" href="4.css">
</head>
<body>
    <div id="wrap">
        <div id="header">
            <header class="logo"></header>
            <header class="nav"></header>
        </div>
        <div id="slider">
            <section class="content1"><img src="img/image4-1.png" alt="ocean1"></section>
            <section class="content2"><img src="img/image4-2.png" alt="ocean2"></section>
            <section class="content3"><img src="img/image4-3.png" alt="ocean3"></section>
        </div>
        <div id="footer">
            <footer class="footer1"></footer>
            <footer class="footer2">
                <footer class="footer2-1"></footer>
                <footer class="footer2-2"></footer>
            </footer>
        </div>
    </div>
</body>
</html>