 * {
    margin: 0;
    padding: 0;
 }
 #wrap {
    margin: 0 auto;
    width: 1200px;
 }

 #header {
    width: 100%;
    height: 100px;
    background-color: #ccb3db;
 }

 #main {
    width: 100%;
    height: 700px;
    display: flex;
 }

 #main .content1 {
    width: 33.3333%;
    height: 100%;
    background-color: #ffc8dd;
 }

 #main .content2 {
    width: 33.3333%;
    height: 100%;
    background-color: #ffafcd;
 }

 #main .content3 {
    width: 33.3333%;
    height: 100%;
    background-color: #bce0fd;
 }

 #footer {
    width: 100%;
    height: 100px;
    background-color: #a3d2ff;
 }
