<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 3</title>
    <link rel="stylesheet" href="3.css">
</head>
<body>
    <div id="wrap">
        <div id="header"></div>
        <div id="slider"><img src="img/image3.png" alt="bridge"></div>
        <div id="main">
            <section class="content1"></section>
            <section class="content2"></section>
            <section class="content3"></section>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>