* {
    padding: 0;
    margin: 0;
}

#wrap {
    width: 1250px;
    height: 1080px;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 100px;
    display: flex;
}

#header .logo {
    width: 20%;
    height: 100%;
    background-color: #54d8dc;
}

#header .nav {
    width: 80%;
    height: 100%;
    background-color: #87dadc;
}

#slider {
    width: 1250px;
    height: 880px;
    display: flex;
    overflow: hidden;
}

#slider .content1 {
    width: 33.3333%;
    height: 100%;
}
#slider .content2 {
    width: 33.3333%;
    height: 100%;
}
#slider .content3 {
    width: 33.3333%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    filter: saturate(150%);
}

#footer {
    width: 100%;
    height: 100px;
    display: flex;
}

#footer .footer1 {
    width: 20%;
    height: 100%;
    background-color: #fde1e0;
}

#footer .footer2 {
    width: 80%;
    height: 100%;
}

#footer .footer2-1 {
    width: 100%;
    height: 50%;
    background-color: #fecece;
}

#footer .footer2-2 {
    width: 100%;
    height: 50%;
    background-color: #fdb2b5;
}
